.resume_btn{
    padding: .8rem 2rem;
    
    background-color: black;

    font-weight: bolder;
    border: none;

    transition: .16s;
}

.resume_btn:hover {
    border-radius: 1.5rem;
}

.hero_text_spacing{
    letter-spacing: 2px;
}

.hero_section{
    height: calc(100vh - 64px);
}

.heading_large{
    font-size: 7rem;
}

.logo{
    mix-blend-mode: difference;
}

.header_scroll{
    background-color: black;
    transition: .2s ease-in;
}

.header_scroll_text{
    color: #FBFCFA;
    transition: .2s ease-in;
}

#my-image{
    filter: grayscale(100%);
    transition: .6s;
    /* height: 600px;
    width: 600px; */
}
#my-image:hover{
    filter: grayscale(0);
}

.about-text{
    letter-spacing: 2px;
}

.about-text > p{
    line-height: 27px;
}

.about-btn-border{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.about-btn{
    transition: font-size .16s;
}

.about-btn:hover{
    font-size: 2rem;
}

#Projects{
    height: calc(100vh - 64px);
}

#Navbar{
    height: 64px;
}

/* .about-btn{
    position: relative;
    transition: 0.5s;
    margin: 0.8em;
}

.about-btn::before,
.about-btn::after{
    content: '';
    position: absolute;
    width: 0.6em;
    height: 0.6em;
    background-color: gainsboro;
    border-radius: 50%;
    transition: 0.5s cubic-bezier(0.5, -0.5, 0.25, 1.5);
    top: calc(50% - 0.6em / 2);
}

.about-btn::before {left: 0; z-index: -1;}
.about-btn::after {right: 0; z-index: -2;}

.about-btn:hover{
    color: white;
}

.about-btn::before,
.about-btn::after {
    width: 100%;
    height: 100%;
    border-radius: 0;
    background-color: dodgerblue;
}

.about-btn::before {
    top: 0;
}

.about-btn::after {
    right: -0.4em;
    filter: brightness(0.8);
} */