html{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
._pages{
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
#Hero, #Contact, #Projects, #About, #MockPage{
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
}
._raleway{
    font-family: 'Raleway', 'sans-serif';
}